/* A CSS Framework by Mike Stenhouse of Content with Style */

/*
table.tableView{
    border: 1px solid #dddddd;
}

table.tableView th{
    background: #eee;
    padding-left: 15px;
}

table.tableView th, table.tableView td{
    border: 1px solid #dddddd;
}*/

.formWrapper{
    border: 1px solid lightgray; padding: 5px;
}

.titleWrapper{
    background: lightgray; border-radius: 5px; padding: 5px 10px;
}

.companyNameTab{
    font-size: 14px;
}

.titleTab{
    font-size: 14px;
}

.imageAddBlock{
    /*width:64px;*/
    /*height: 64px;*/
    padding-top: 50px;
}