.header{
    background: #0096D5;
    border:1px solid #0096D5;
    color: #EEEEEE;
    border-radius: 0;
    margin: 0;
}

.header a{
    color: #EFEFEF;
}

.headerlink{
    color: #EFEFEF;
}

.header>li>a{
    color: #EFEFEF;
}

.navbar-inverse .navbar-nav>li>a{
    color: #EFEFEF;
}

.navbar-inverse .navbar-nav>li>a:hover{
    background: #0377C2;
}

.navbar-inverse .navbar-brand{
    color: #EFEFEF;
}

.navbar-brand{
    background: #0377C2;
}